@charset "UTF-8";

/*Typical Device Breakpoints
------------------------------
Celular: 320pxpx até 480px
Tablet: 481px até 768px
Desktop: 769px até 1200px
Grandes Telas: acima de 1201px
*/

@media screen and (min-width: 300px) and (max-width: 500px) { /*CELULAR (coloquei -20 e +20 só pra ser uma margem de erro*/
    
}

/*
@media screen and (min-width: 481px) and (max-width: 1350px) { TABLET ou CELULAR DEITADO
        body {
            background-color: red; (Não consegui fazer isso aqui funcionar, entao por enquanto a versão de tablet e de celular deitado vai ser a mesma para computador
        }
    }
*/

