@charset "UTF-8";

/*CSS PRINCIPAL*/

:root {
    --cor01: ;
    --cor02: #FEAA26;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    height: 10000px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--cor02);
    display: flex;
    justify-content: space-between;
}

header > picture > img {
    margin: 10px;
}
nav {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
    height: 48px;
}

nav > ul > li {
    font-size: 1.5em;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin-left: 50px;
    transition: background-color .5s;
}

nav > ul > li:hover {
    background-color: white;
    border-radius: 15px;
}