@charset "UTF-8";

/*CSS PRINCIPAL*/

:root {
    --cor01: ;
    --cor02: #FEAA26;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    height: 10000px;
}

header {
    background-color: var(--cor02);
}

header > picture > img {
    margin: 10px;
}
nav {
    display: inline-block;
    background-color: blue;
}